.side-panel {
  position: absolute;
  top: 10px;
  /* top: 100px; */
  right: 10px;
  width: fit-content;
  z-index: 1000 !important;
  background-color: #fff;
  border-radius: 5px;
}

.side-panel .ant-collapse-content-box {
  padding-top: 5px !important;
}
